.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .sub1-wrapper {
    height: 1935px;
    width: 1920px;
  }
  
  .frame .sub1 {
    height: 1935px;
    position: relative;
  }
  
  .frame .main-page {
    background-color: #ffffff;
    height: 1935px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .frame .group {
    height: 500px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 1922px;
  }
  
  .frame .sub1-group {
    background-image: url(https://github.com/Jupy9804/sool/blob/main/img/gallery.jpg?raw=true);
    background-size: 100% 100%;
    height: 500px;
    position: relative;
    width: 1920px;
  }
  
  .frame .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 831px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 221px;
  }
  
  .frame .sub1-group-wrapper {
    height: 356px;
    left: 343px;
    position: absolute;
    top: 648px;
    width: 1244px;
  }
  
  .frame .div2 {
    background-image: url(https://github.com/Jupy9804/sool/blob/main/img/gallery-mid.jpg?raw=true);
    background-position: 50% 50%;
    background-size: cover;
    height: 356px;
    position: relative;
    width: 1240px;
  }
  
  .frame .p {
    color: #ffffff;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 157px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 135px;
    width: 590px;
  }
  
  .frame .text-sub1-2 {
    color: #ffffff;
    font-family: var(--h-01-font-family);
    font-size: var(--h-01-font-size);
    font-style: var(--h-01-font-style);
    font-weight: var(--h-01-font-weight);
    left: 157px;
    letter-spacing: var(--h-01-letter-spacing);
    line-height: var(--h-01-line-height);
    position: absolute;
    top: 74px;
    white-space: nowrap;
    width: 168px;
  }
  
  .frame .div-wrapper {
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1928px;
  }
  
  .frame .sub1-2 {
    background-color: #FFF1C1;
    background-size: 100% 100%;
    height: 100px;
    position: relative;
    width: 1920px;
  }
  
  .frame .text-sub1-3 {
    color: #000000;
    font-family: var(--h-01-font-family);
    font-size: var(--h-01-font-size);
    font-style: var(--h-01-font-style);
    font-weight: var(--h-01-font-weight);
    left: 510px;
    letter-spacing: var(--h-01-letter-spacing);
    line-height: var(--h-01-line-height);
    position: absolute;
    top: 1800px;
  }
  
 
  
  .frame .sub1-k-traditional-drink {
    color: #000000;
    font-family: var(--h-01-font-family);
    font-size: var(--h-01-font-size);
    font-style: var(--h-01-font-style);
    font-weight: var(--h-01-font-weight);
    left: 1301px;
    letter-spacing: var(--h-01-letter-spacing);
    line-height: var(--h-01-line-height);
    position: absolute;
    top: 41px;
    width: 325px;
  }
  
  .frame .text-sub1-5 {
    color: #000000;
    font-family: var(--h-01-font-family);
    font-size: var(--h-01-font-size);
    font-style: var(--h-01-font-style);
    font-weight: var(--h-01-font-weight);
    left: 1020px;
    letter-spacing: var(--h-01-letter-spacing);
    line-height: var(--h-01-line-height);
    position: absolute;
    top: 43px;
    width: 241px;
  }
  
  .frame .sub1-2 {
    height: 90px;
    left: 345px;
    position: absolute;
    top: 5px;
    width: 117px;
  }
  
  .frame .sub1-group-2 {
    background-image: url(https://github.com/Jupy9804/sool/blob/main/img/logo.jpg?raw=true);
    background-position: 50% 50%;
    background-size: cover;
    height: 90px;
    left: -4px;
    position: relative;
    width: 123px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
  }
  




  
  .frame .sub1-group-3 {
    position: absolute;
    width: 115px;
    height: 89.89px;
    left: 345px;
    top: 1820px;
    
  



    background-image: url(https://github.com/Jupy9804/sool/blob/main/img/logo.jpg?raw=true);
    background-position: 50% 50%;
    background-size: cover;


    
  }
  
  .frame .text-sub1-7 {

    position: absolute;
    width: 402px;
    height: 70px;
    left: 491px;
    top: 1830px;
    
  }
  
  .frame .text-sub1-8 {
    color: #000000;
    font-family: var(--h-01-font-family);
    font-size: var(--h-01-font-size);
    font-style: var(--h-01-font-style);
    font-weight: var(--h-01-font-weight);
    letter-spacing: var(--h-01-letter-spacing);
    line-height: var(--h-01-line-height);
    position: absolute;
 





  }
  

  .frame .sub1-5 {
    height: 294px;
    left: 343px;
    position: absolute;
    top: 1053px;
    width: 518px;
  }
  
  .frame .text-sub1-9 {
    color: #000000;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 313px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
  }
  
  .frame .text-sub1-10 {
    color: #000000;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 304px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 77px;
  }
  
  .frame .ellipse {
    height: 302px;
    left: -4px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 302px;
  }
  
  .frame .sub1-6 {
    height: 294px;
    left: 969px;
    position: absolute;
    top: 1053px;
    width: 609px;
  }
  
  .frame .text-sub1-11 {
    color: #000000;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 316px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  
  .frame .text-sub1-12 {
    color: #000000;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 316px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 77px;
    width: 289px;
  }
  
  .frame .sub1-7 {
    height: 294px;
    left: 344px;
    position: absolute;
    top: 1400px;
    width: 612px;
  }
  
  .frame .text-sub1-13 {
    color: #000000;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 317px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
  }
  
  .frame .text-sub1-14 {
    color: #000000;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 319px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 83px;
    width: 289px;
  }
  
  .frame .sub1-8 {
    height: 294px;
    left: 973px;
    position: absolute;
    top: 1400px;
    width: 603px;
  }
  
  .frame .text-sub1-15 {
    color: #000000;
    font-family: "Noto Sans KR-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    left: 310px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
  }
  
  .frame .text-sub1-16 {
    color: #000000;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 310px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 129px;
    width: 289px;
  }
  .frame .sub1-sns-blog{
  

position: absolute;
width: 60px;
height: 60px;
left: 1278px;
top: 1833px;

  }
  .frame .sub1-sns-instar{


position: absolute;
width: 60px;
height: 60px;
left: 1514px;
top: 1833px;


  }
  .frame .sub1-sns-facebook{


position: absolute;
width: 60px;
height: 60px;
left: 1396px;
top: 1835px;



  }
  .frame .text-sub1-6{
    /* Group 27 */

position: absolute;
width: 115px;
height: 90px;
left: 345px;
top: 1820px;



/* Rectangle 32 */

position: absolute;
width: 115px;
height: 89.89px;
left: 345px;
top: 1820px;

background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Sool */

position: absolute;
width: 60px;
height: 20.32px;
left: 383px;
top: 1889.68px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;


  }
  .frame .text-sub1-8{
    /* SNS */

position: absolute;
width: 48px;
height: 35px;
left: 1173px;
top: 1847px;

/* h01 */
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
/* identical to box height */

color: #000000;


  }

  .custom-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 또는 object-fit: contain; */
  }
  .custom-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 또는 object-fit: contain; */
  }
